<table class="table table-hover table-bordered table-sm">
	<thead class="thead-dark">
		<tr>
			<th scope="col" style="white-space:nowrap;">Method</th>
			<th scope="col" style="white-space:nowrap;">Returns</th>
			<th scope="col" style="white-space:nowrap;">Description</th>
		</tr>
	</thead>
	<tbody>
		{{#each documentables}}
			<tr id="{{id}}">
				<td style="min-width:200px;">
					<code><b>{{name}}</b>({{#each params}} <span style="white-space:nowrap;">{{#if type}}&lt;{{{type type}}}&gt;{{/if}} <i>{{name}}</i>{{~#unless @last}},{{/unless}}</span>{{~#unless @last}} {{/unless}}{{/each}})</code>
				</td>
				<td style="white-space:nowrap;">
					{{#if type}}<code>{{{type type}}}</code>{{/if}}
				</td>
				<td>
					{{{markdown comments}}}
				</td>
			</tr>
		{{/each}}
	</tbody>
</table>
